body{
 margin:0px;
}
.container{
    width:90%;
    height:90vh;
    margin: 20px 70px;
    background-color:red ;
}
.bgimage{
    float:left;
    width:60%;
    height:90vh;
    background-image: url(../sunrise.jpg);

}
.log_in{
    float:right;
    width:40%;
    background-color: aqua;
    height:90vh;
}
img{
    height:100px;
    margin-left:200px;
    margin-top:20px;
}
.login > span{
    margin-left: 200px;
    color:white;
    margin-top: 10px;
    font-size: xx-large;
}
label{
    margin-left: 200px;
    margin-top: 300px;
    color:white;
}
input{
    margin-left: 170px;
    margin-top: 10px;
    color:black;
    padding:10px;

}
span{
    color:white;
    margin-left:-120PX;
}
.btn1{
    margin-left:100px;
}
.btn2{
    margin-left:200px;
    padding:10px;
}
a{
    text-decoration: none;
}